<!doctype html>
<html lang="ja" layout:decorate="~{layout/layout}">
  <head>
    <meta
      name="description"
      layout:fragment="description"
      th:content="#{error.forbidden.meta.description}"
    />
    <title layout:fragment="title">Access Denied</title>
  </head>

  <body>
    <main layout:fragment="content" class="container mt-5">
      <div class="text-center">
        <h1 class="mb-4">403 - This page is restricted to specific users.</h1>

        <p class="mb-4" th:text="${errorMessage}">You do not have permission to view this page.</p>

        <a th:href="@{/posts}" class="btn btn-primary">Back to Home</a>
      </div>
    </main>
  </body>
</html>
